html, body{
    margin: 0;
    padding: 0;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    /*background-color: #9D177F;*/
    background: rgb(166,83,155);
    background: radial-gradient(circle, rgba(166,83,155,1) 0%, rgba(157,23,127,1) 48%);
    overflow: hidden;
}

.cartas-contenedor{
    width: 100%;
    /*background-color: #9D177F;*/
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    
    /*overflow: hidden;*/
}

.carta{
    width: 16rem;
    height: 22rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.parte-atras{
    width: 16rem;
    height: 22rem;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f7f292;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.btn-contenedor{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items:center;
    justify-content: center;
}

.btn-girar{
    margin: 0.5rem;
    width: 6rem;
    height: 3rem;
    border-radius: 10px;
    background-color: #DB88B9;
    cursor: pointer;
    color: #F3F7EC;
    border: 3px solid #F3F7EC ;

}

.btn{
    transition: transform 0.3s ease;
}
.btn:hover{
    transform: scale(1.1);
}

.imagen{
    width: 17rem;
    padding: 20px;
}

.invisible{
    visibility:hidden
}

.bichito{
    width: 60%;
}

.carta-final{
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: 22rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    
}


.texto-final{
    font-size: 1rem;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 1rem;
    color: white;
    text-shadow: 
    2px 2px 0px black,
    -2px 2px 0px black,
    2px -2px 0px black,
    -2px -2px 0px black,
    2px 0px 0px black,
    -2px 0px 0px black,
    0px 2px 0px black,
    0px -2px 0px black;
  }

@media only screen and (min-width: 1024px) {

    .carta{
        width: 17rem;
        height: 22rem;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center; 
        background-color: white;
    
    }

    .parte-atras{
        width: 17rem;
        height: 22rem;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f7f292;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        
}

    .imagen{
        width: 20rem;
        padding: 20px;
    }
    .btn-girar{
        margin: 0.5rem;
        width: 8rem;
        height: 3rem;
        border-radius: 15px;
        cursor: pointer;
        color: #F3F7EC;
        font-weight: bold;
        border: 3px solid #F3F7EC ;
    
    }

    .bichito{
        width: 60%;
    }

    .carta-final{
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 22rem;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
       
    }

    .texto-final{
        font-size: 1rem;
        font-weight: bold;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        padding: 1rem;
        color: white;
        text-shadow: 
        2px 2px 0px black,
        -2px 2px 0px black,
        2px -2px 0px black,
        -2px -2px 0px black,
        2px 0px 0px black,
        -2px 0px 0px black,
        0px 2px 0px black,
        0px -2px 0px black;
      }

    .btn{
        transition: transform 0.3s ease;
    }
    .btn:hover{
        transform: scale(1.05);
    }
    
    
}